* {
  margin: 0;
  padding: 0;
  font-family: Orbitron;
  text-decoration: none;
  border: none;
}

html {
  background: linear-gradient(
    180deg,
    #010208 16.39%,
    #010206 20.51%,
    #040008 24.79%,
    #010101 30.46%,
    #010101 34.11%,
    #010101 36.21%,
    #010101 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins;
}
h5 {
  font-family: Poppins;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#header {
  padding: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav {
  display: flex;
  gap: 30px;
  a {
    color: #fff;
    font-size: clamp(0.938rem, 0.892rem + 0.23vw, 1.063rem);
  }
}

#hero {
  padding: 70px;
}

.hero {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 35px;
  h1 {
    font-size: clamp(2.375rem, 2.216rem + 0.8vw, 2.813rem);
    max-width: 550px;
    width: 100%;
  }

  h5 {
    font-size: clamp(1.063rem, 0.994rem + 0.34vw, 1.25rem);
    max-width: 550px;
    width: 100%;
    font-weight: 400;
    line-height: 32px;
  }
}

.hero-text h1 span {
  background: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
}

.hero-btn {
  display: flex;
  gap: 10px;
}

.hero-btn button {
  padding: 15px;
  max-width: 140px;
  width: 100%;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  color: #ffff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.hero-btn span button {
  background: none;
  border: 4px solid;

  border-image-source: linear-gradient(
    97.16deg,
    #d10ed1 12.04%,
    #10a3da 81.84%
  );
}

.hero-www {
  display: flex;
  gap: 80px;
}

.logo {
  position: relative;
}

.logo-2 {
  position: absolute;
  left: -10px;
  top: 150px;
}

#main {
  padding-block: 50px;
  display: flex;
}
.main {
  display: flex;
  gap: 550px;
}

.main-text {
  padding: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  h1 {
    font-size: clamp(1.75rem, 1.591rem + 0.8vw, 2.188rem);
  }
  p {
    max-width: 400px;
    width: 100%;
    line-height: 35px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
  }
}
.main-text button {
  padding: 15px;
  max-width: 150px;
  width: 100%;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.image {
  position: relative;
}

.image .hhh {
  position: absolute;
  top: 120px;
  left: 235px;
}

#meta {
  padding: 120px 0 100px 0;
}

.meta-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  p {
    font-size: clamp(0.938rem, 0.869rem + 0.34vw, 1.125rem);
    font-weight: 300;
    text-align: center;
    max-width: 580px;
    width: 100%;
    line-height: 30px;
  }
}

.meta {
  padding-block: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.meta .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 420px;

  padding: 30px 10px;
  background: rgba(9, 8, 35, 1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.box img {
  max-width: 380px;
  width: 100%;
}

.box-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 19px;
  h1 {
    font-size: clamp(1.188rem, 1.097rem + 0.45vw, 1.438rem);
  }
  p {
  }
}

.box-btn {
  display: flex;
  gap: 16px;
}

.box-btn button {
  border-radius: 5px;
  padding: 10px;
  max-width: 120px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  color: #fff;
}
.box-btn span button {
  background: none;
  border: 2px solid #d10ed1;
}

#worc {
  padding-block: 50px 0;
}

.worc-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  p {
    max-width: 500px;
    width: 100%;
    line-height: 27px;
  }
}

.worc {
  max-width: 500px;
  width: 100%;
}

.worc img {
  display: flex;

  padding: 20px 80px;
}
